<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> <%= pageTitle %> </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        
        <style>
            body {
                color: white;
                font: Arial;
            }

            a {
                text-decoration: none;
                color: white;
            }

            #author_date,
            #titulo_noticia {
                text-align: center;
            }

            #description {
                margin-left: 150px;
                margin-right: 150px;
            }

            #HomepageLink {
                font-size: 26pt;
                color: white;
            }
            
            .bg-green {
                background-color: #32CD30;
            }

            .bg-gray {
                background-color: #44403F
            }
        </style>
    </head>
    <body class="bg-gray">
        <header>
            <nav class="navbar navbar-expand-lg justify-content-center navbar-light bg-green">
                <a class="nav-link" id="HomepageLink" href = '/'>
                    News CRUD
                </a>
				
				<div class="float-right">
					<a class="nav-link" href="/create_news">
						<button class="bg-light">Cadastrar Notícia</button>
					</a>
				</div>
			</nav>
        </header>