<%- include('header') -%>

    <br><br>
    
        <div id="titulo_noticia">
            <h1><%= news.title %></h1>
        </div>

        <br>

        <div id="description">
            <p>
                <%- news.body -%>
            </p>
        </div>
        <div id="author_date">
            <a id="description_author_data">
                Autor: <%= news.author %>
            </a>
        </div>
    </body>
</html>