<%- include('header') -%>

        <div id="titulo_noticia">
            <h1>Embraer revela 4 aviões movidos a energias alternativas, de células de combustível a hidrogênio</h1>
        </div>

        <div id="description">
            <p>
                A Embraer anunciou nesta segunda-feira (8) um projeto para o desenvolvimento de aeronaves 
                movidas com energias alternativas.<br> De células de combustível a hidrogênio, os 4 conceitos 
                fazem parte da família de aviões chamada de "Energia"A empresa disse que o objetivo é ajudar
                a indústria a atingir a meta de zero emissões de carbono até 2050.<br>

                Para a criação dos conceitos consórcio internacional de universidades de engenharia, institutos de pesquisas aeronáutica e pequenas e médias empresas...
            </p>
        </div>
        <div id="author_date">
            <a id="description_author_data">
                Autor:G1⠀⠀⠀ Data: 08/11/2021
            </a>
        </div>
    </body>
</html>